<!-- Navigation Bar -->
<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">Home</a>
        <ul class="navbar-links">
            <li><a href="/url">Generate ShortID</a></li>
            <li><a href="/user/signup">Sign Up</a></li>
            <% if(!userName){ %>
            <li><a href="/user/signin">Sign In</a></li>
            <%} else {%>
            <li><a href="/user/signout">Sign Out</a></li>
            <%}%>
            <li><a href="#"><%= userName%></a></li>
        </ul>
    </div>
</nav>