<!-- Table to display URL data -->
<div class="main-table">
    <table>
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Actual URL</th>
                <th>ShortID</th>
                <th>Total Visits</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% allUrls.forEach((url, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= url.actualUrl %></td>
                    <td><%= url.shortId %></td>
                    <td><%= url.visitedHistory.length %></td>
                    <td>
                        <a href="" class="edit-btn">Edit</a>
                        <a href="" class="delete-btn">Delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>